@import "tokens";

.btn_wrapper {
    margin-top: 30px;
}

.membersy_btn,
.membersy_btn--primary,
.membersy_btn--secondary {
    display: inline-block;
    padding: 1rem 2rem;
    color: $color_white;
    border-radius: $border_round;
    border: none;
    transition: all .2s ease-in-out;
    color: $color_white;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: $bold;
    &:hover {
        cursor: pointer;
        color: $color_white;
        box-shadow: 0 2px 20px rgba(0,0,0,.27);
        transform: translateY(-3px);
    }
    a {
        color: $color_white;
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: $bold;
        @media(max-width: 600px) {
            font-size: 2.4rem;
        }
    }
    @media (max-width: 600px) {
        font-size: 2.4rem;
    }
}

.membersy_btn {
    background: rgb(56,170,158);
    background: linear-gradient(90deg, rgba(56,170,158,1) 50%, rgba(0,111,144,1) 100%);
}

.membersy_btn--primary {
    background: $color_primary;
    margin-right: 20px;
    padding: 15px;
}
.membersy_btn--secondary {
    background: $color_secondary;
    padding: 15px;
}