@import "tokens";

.membersy_btn,
.membersy_btn--primary,
.membersy_btn--secondary {
    display: inline-block;
    padding: .5rem;
    color: $color_white;
    border-radius: $border_round;
    border: none;
    margin-top: 20px;
    transition: all .2s ease-in-out;
    &:hover {
        color: $color_white;
        box-shadow: 0 2px 20px rgba(0,0,0,.27);
    }
    a {
        color: $color_white;
        text-decoration: none;
        font-size: 16px;
        font-weight: $bold;
    }
}

.membersy_btn {
    background: rgb(56,170,158);
    background: linear-gradient(90deg, rgba(56,170,158,1) 50%, rgba(0,111,144,1) 100%);
}

.membersy_btn--primary {
    background: $color_primary;
    margin-right: 20px;
    padding: 15px;
}
.membersy_btn--secondary {
    background: $color_secondary;
    padding: 15px;
}