@import "tokens";

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  
    // override safari text-rendering algorithm:
    -webkit-text-size-adjust: none;
  }
  
  html, body {
    padding: 0;
    margin: 0;
  }

header {
    grid-area: header;
    box-shadow: 0 2px 40px rgba(0,0,0,.17);
    .container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        align-items: center;
    }
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
    font-size: 1.2rem;
    background: #F1F4F8;
    .container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    .footer_bar--wrapper {
        display: flex;
        justify-content: space-between;
        .footer_bar {
            display: flex;
            flex-direction: column;
            margin-right: 30px;
            margin-left: 30px;
        }
    }
}
.app {
    display: grid;
    height: 100vh;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-rows: 95px auto 300px;
}

section {
    padding: 80px 0;
}

.mac_box--wrapper {
    display: flex;
    margin: 40px 0;
    background-color: $color_white;
    padding: $baseline * 2;
    border-radius: 5px;
    box-shadow: $shadow;
    img {
        margin-right: 40px;
    }
}

@media (min-width: 800px) {
    .membersy_grid--wrapper {
        display: grid;
        grid-gap: $gutter;
        grid-template-columns: repeat(12, 1fr);
        margin: 0 auto;
        width: 100%;
    }
    
    .membersy_grid--item {
        position: relative;
        grid-column: span 6;
        // justify-self: center;
    }

    .membersy_grid--item-3 {
        grid-column: span 4;
    }
}


.membersy_card {
    position: relative;
    padding: $baseline * 2;
    border-radius: 5px;
    box-shadow: $shadow;
    .number_badge {
        position: absolute;
        top: -20px;
        left: -20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color_primary;
        color: $color_white;
        padding: 10px;
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }
}

.container {
    max-width: 1016px;
    margin: 0 auto;
    @media (min-width: 480px) {
        padding: $baseline * 2;
    }
}

.background_gray {
    background: $color_gray;
}

.membersy_badge {
    display: inline-block;
    background-color: #E0EEEF;
    color: $color_secondary;
    margin-bottom: 0;
    padding: 5px 15px;
    border-radius: 25px;
}

.support_card {
    border-left: 5px solid #e3e3e3;
    border-radius: 2px;
    transition: all .2s ease-in-out;
    &:hover {
        border-left-color: $color_primary;
    }
    h2, p {
        margin: 0;
    }
    .support_card--desc {
        padding: $baseline * 2;
        transition: all .2s ease-in-out;
        &:hover {
            box-shadow: $shadow;
        }
    }
}