// Colors ----------
$color_primary: #38AA9E;
$color_secondary: #006F90;
$color_body: #58595B;
$color_body--contrast: lighten($color_body, 20%);
$color_white: #ffffff;
$color_white--contrast: darken($color_white, 15%);
$color_gray: #F1F4F8;

// Typography ----------
$font_heading: avenirBook, Helvetica, sans-serif;
$font_body: avenirRoman, Helvetica, sans-serif;
$baseline: 1.5rem;
$bold: 700;

// Utility ----------
$border_round: 4px;
$gutter: 40px;
$shadow: 0 3px 24px rgba(0,0,0,.17);