@import "tokens";

html {
    font-size: 10px;
}
@font-face {
    font-family: avenirBook;
    src: url('../fonts/Avenir-Book.ttf');
}

@font-face {
    font-family: avenirRoman;
    src: url('../fonts/Avenir-Roman.ttf');
}

@media (min-width: 800px) {
    html {
        font-size: 10px;
    }
}

body {
    font-size: $baseline;
    font-family: $font_body;
    color: $color_body;
    line-height: 1.4;
    h1,h2,h3,h4 {
        font-family: $font_heading;
    }
    @media (max-width: 600px) {
        font-size: 1.8rem;
    }
}

h1,h2,h3,h4,p {
    margin-top: 0;
    margin-bottom: 20px;
}

a {
    color: $color_secondary;
}

.color_membersy {
    color: $color_primary;
}

.membersy_heading {
    font-size: 4.2rem;
    line-height: 1.2;
}

.membersy_subheading {
    font-size: 2.7rem;
    line-height: 1.2;
    margin-bottom: 4rem;
}

.footer__icon svg {
    color: $color_body;
    font-size: 2rem;
    &:hover {
        color: $color_body--contrast;
    }
}
.footer__icon:not(:last-child) {
    margin-right: 10px;
}