@import "tokens";

.u_text--center {
    text-align: center;
}

.u_flex--text {
    text-align: left;
}

.u_spacing--top {
    margin-top: 60px;
}

.u_spacing--top-small {
    margin-top: 15px;
}

.u_align--center {
    justify-self: center;
}
.u_space-between {
    display: flex;
    justify-content: space-between;
}

.img_absolute {
    position: absolute;
    width: 115%;
    top: -100px;
    left: -39%;
}